@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
margin: 0px; 
padding: 0px;
font-family: sans-serif; 
background-size:cover ;
background:url('https://cdn.wallpapersafari.com/23/77/zhFn0o.jpg') no-repeat;
}

.main{
    width: 280px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: whitesmoke;
    border: 2px solid palevioletred;
    border-radius: 20px; 
}

.main h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    border-bottom:3px solid greenyellow ;
    width: 100px;
    /* text-align: center; */
    margin-left: 20px;
}

.main p{
    color: whitesmoke;
    padding-left: 5px;
    font-weight: bold;
}
.main input[type='text'],input[type='password']{

    border: none;
    margin-left: 40px;
    background: transparent;
    border:1px violet solid;
    outline: none;
    color: wheat;
    border-radius: 20px;
    text-align: center;
    height: 20px;

}
.main input[type='submit']{

    width: 100px;
    margin-top: 20px;
    color: whitesmoke;
    padding: 5px;
    background: none;
    border: 2px solid greenyellow;
    border-radius: 20px;
    margin-left: 85px;


}