@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body{

    margin: 0px;
    padding: 0px;
    background: url('https://tinyurl.com/yfys854f');
     background-size: cover;
    /* background-position: center; */

}
.log{
    width: 300px;
    height: 450px;
    background: rgb(0, 0, 0);
    /* color: rgb(117, 33, 33); */
    top: 50%;
    border: solid plum 2px;
    border-radius: 30px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;}

.av{
    width: 100px;
    height: 100px;
    margin-top: 20px ;
    margin-left: 10px;
}
h1{

    padding: 0px;
    margin: 0px;
    color: snow;
    margin-top: 10px;
    font-size: 22px;
    text-align: center;
    /* border:solid rebeccapurple 1px; */
    font-family: 'Roboto', sans-serif;
}

.log p{
   
    margin-left:10px ;
    color: snow;
    font-weight: bold;
    margin-bottom: 5px;
}

.log input[type='text'],input[type='password']{

    border:none ;
    border-bottom:1px solid whitesmoke ;
    background:transparent ;
    outline: none;
    color: #fff;
    font-size: 16px;
    margin-left: 35px;
}
.log input[type='submit']{
    border:none ;
    outline: none;
    height: 20px;
    margin-top: 20px;
    margin-left: 100px;
    color:rgb(158, 23, 23) ;
    font-size: 18px;
    border-radius: 5px;


}
.log a{

    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: darkgray;
}

